{% extends "base.html" %}

{% block title %}タスク編集{% endblock %}
{% block h1 %}タスク編集{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <table class="table table-striped my-4">
        {% for field in form %}
            <tr>
                <th class="py-3">{{ field.label_tag }}</th>
                <td class="py-3">
                    {{ field }}
                    {% if field.label == 'Status' %}
                        <label for="id_status">(完了したらチェック)</label>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success">編集する</button>
        </div>
    </form>
{% endblock %}